<div class="container">
  <h1>{{ title }}</h1>

  <app-filter></app-filter>

  <!--  TODO: Move this to a separate component-->
  <div class="results">
    <h2>Results</h2>
    <div class="body">
      <ng-container *ngIf="characterDetailList.length > 0; else loading">
        <div *ngFor="let character of characterDetailList">
          <app-character-detail [character]="character"></app-character-detail>
        </div>
      </ng-container>
    </div>
  </div>

  <ng-template #loading> Loading... </ng-template>
</div>
